#Ignore some personal files
*.txt
*.fil
*.acl
*.dbp
*.dat
*.AC
*.xml
*.LOG
*.old
.gitmodules

#ignore thumbnails created by windows
Thumbs.db

#stray CC files
view.dat

#ignore some file extentions
*.txt
*.old
*.dat
*.fil
*.acl
*.ac
*.log
*.xml
*.png
*.dbp
*.LOG
*.xlsx
*.INX
*.pyc
*.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.opendb
*_i.c
*_p.c
*.ncb
*.suo
*.sdt
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
*.tmp
*.keep*
*.merge*
*.exp
*.bsc
*.idb
*.rgs
*.lib
*.prf
*.sbr
*.updt
*.opensdf
*.sdf
*.ipch
*.res
*.lix
*.vcxproj.user
*.vcproj
*.ccscc
*.vssscc
*.vsp
*.psess
*.map
*.lastbuildstate
.vs/
RC*
*.zip
* - Copy.*
[Bb]in/
UnicodeBin/
Ironhidebin/
IronhideUnicodeBin/
[Dd]ebug*/
[Rr]elease*/
[Uu]nicode[Dd]ebug*/
[Uu]nicode*/
IronhideDebug*/
Ironhide*/
Ironhide[Uu]nicode[Dd]ebug*/
Ironhide[Uu]nicode*/
obj/
_ReSharper*/
[Tt]est[Rr]esult*/
ipch/
lib/
Unicode AclWin Integration/
Installer/
[Tt]ools/
lost+found/
buildscripts/
packages/